<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thông tin</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
<div ng-app="myApp" ng-controller="tableCtrl">
  <!-- //ng-init : khởi tạo dữ liệu ban đầu  -->
  <div class="container">
    <!-- Đầu trang gồm Home -->
    <div class="header">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/login">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Thông tin</li>
        </ol>
      </nav>
    </div>
<!--     Thẻ add và Tìm kiếm -->
    <div class="btn-action">
      <div class="row">
        <!-- thẻ add -->
        <div class="action-left col-md-4">
          <button style="margin-bottom: 20px" type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateAcc"
                  data-whatever="@mdo">Update tài khoản </button>
        </div>
        <!-- thẻ tìm kiếm -->
        <div class="action-right col-md-8">
          <form>
            <div class="form-group">
              <button  class="btn btn-primary" ng-click="alertTB()" >Chơi game</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Chức năng khi mở thẻ Add -->
    <div class="modal fade" id="updateAcc" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModal">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group ">
                <label class="col-form-label">Họ và tên:</label>
                <input type="text" class="form-control" id="name"
                       ng-model="updateMatchData.name" required>
              </div>
              <div class="form-group ">
                <label class="col-form-label" >Số điện thoại:</label>
                <input type="text" class="form-control" id="phoneNumber"
                     ng-model="updateMatchData.phoneNumber" required>
              </div>
              <div class="form-group ">
                <label class="col-form-label" >Địa chỉ:</label>
                <input type="text" class="form-control" id="address"
                       ng-model="updateMatchData.address" required>
              </div>
              <div class="form-group">
                <label for="email" class="col-form-label">Email:</label>
                <input type="email" class="form-control" id="email"
                       ng-model="updateMatchData.email" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="checkInput()">Save</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bảng -->
    <table class="table">
      <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Màu cờ</th>
        <th scope="col">Kết quả</th>
        <th scope="col">Thời gian cập nhật</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody ng-if="matches.length > 0">
      <tr ng-repeat="match in getCurrentPageMatches()" | filter : searchMatch>
        <th scope="row">{{$index + 1 + (currentPage - 1) * pageSize}}</th>
        <td>{{match.color | colorFilter}}</td>
        <td>{{match.result | resultFilter}}</td>
        <td>{{match.updatedTime}}</td>
        <td>
          <button class="btn btn-secondary" title="Delete" data-toggle="modal" data-target="#confirmModal" ng-click="setDeleteMatch(match)">
            <i class="fa fa-trash" aria-hidden="true"></i> <!-- Sử dụng Font Awesome -->
          </button>

        </td>
      </tr>
      </tbody>
      <tbody ng-if="matches.length === 0">
      <tr>
        <td colspan="5" class="text-center">No data available</td>
      </tr>
      </tbody>
    </table>
    <!-- thẻ khi nhấn nút delete và xác nhận -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Bạn có chắc chắn muốn xóa hay không ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="deleteMatch()">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <!-- phân trang -->
    <div class="pagination">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li ng-class="{ 'page-item': true, 'disabled': currentPage === 1 }">
            <a class="page-link" href="#" ng-click="setCurrentPage(1)" aria-label="First">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">First</span>
            </a>
          </li>
          <li ng-class="{ 'page-item': true, 'disabled': currentPage === 1 }">
            <a class="page-link" href="#" ng-click="setCurrentPage(currentPage - 1)"
               aria-label="Previous">
              <span aria-hidden="true">&lsaquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li ng-repeat="page in getPages()"
              ng-class="{ 'page-item': true, 'active': page === currentPage }">
            <a class="page-link" href="#" ng-click="setCurrentPage(page)">{{ page }}</a>
          </li>
          <li ng-class="{ 'page-item': true, 'disabled': currentPage === totalPages }">
            <a class="page-link" href="#" ng-click="setCurrentPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&rsaquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          <li ng-class="{ 'page-item': true, 'disabled': currentPage === totalPages }">
            <a class="page-link" href="#" ng-click="setCurrentPage(totalPages)" aria-label="Last">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Last</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <script>
      var app = angular.module('myApp', []);
      app.filter('resultFilter', function () {
        return function (input) {
          return input === 2 ? 'lose' : (input === 1 ? 'win' : 'unknown');
        };
      });
      app.filter('colorFilter', function () {
        return function (input) {
          return input === 0 ? 'Đen' : (input === 1 ? 'Trắng' : 'unknown');
        };
      });
      app.controller('tableCtrl', function ($scope, $http, $window, $filter, $location) {
        $scope.matches = [];
        $scope.currentPage = 1;
        $scope.pageSize = 5;
        $scope.deleteMatchData = {};
        $scope.updateMatchData = {};
        $scope.userId = -1;

        // load data khi khởi động
        $scope.loadData = function () {
          if (window.location.search) {
            // Lấy query string từ URL
            var queryString = window.location.search.substring(1);

            // Chuyển query string thành đối tượng URLSearchParams
            var urlParams = new URLSearchParams(queryString);

            // Lấy giá trị của tham số userId
            $scope.userId = urlParams.get('userId');

            var requestData = {
              userId: $scope.userId
            };
          }
          $http({
            method: 'POST',
            url: '/getHistory',
            data: requestData
          }).then(function (response) {
            $scope.matches = response.data;
            $scope.totalPages = Math.ceil($scope.matches.length / $scope.pageSize);
          }, function (error) {
            console.error('Lỗi khi gọi API:', error);
          });
          $scope.totalPages = Math.ceil($scope.matches.length / $scope.pageSize);
          getDataUser();
        };
        $scope.loadData();

        function getDataUser() {
          var requestData = {
            userId: $scope.userId
          };
          $http({
            method: 'POST',
            url: '/getInfoUser',
            data: requestData
          }).then(function (response) {
            $scope.updateMatchData = response.data;
          }, function (error) {
            console.error('Lỗi khi gọi API:', error);
          });
        }
        $scope.getCurrentPageMatches = function () {
          var begin = (($scope.currentPage - 1) * $scope.pageSize);
          var end = begin + $scope.pageSize;
          return $scope.matches.slice(begin, end);
        };

        $scope.getPages = function () {
          var pages = [];
          var totalPages = Math.ceil($scope.matches.length / $scope.pageSize);
          for (var i = 1; i <= totalPages; i++) {
            pages.push(i);
          }
          return pages;
        };

        $scope.setCurrentPage = function (page) {
          $scope.currentPage = page;
        };

        // khi edit hoặc delete thì gửi dữ liệu vào data
        $scope.setDeleteMatch = function (match) {
          $scope.deleteMatchData = match;
        };

        //Kiểm tra data khi Add

        // $scope.checkEditStudent = function () {
        //   var errorMessage = validateData($scope.editStudentData);
        //
        //   if (errorMessage !== "") {
        //     $window.alert('Mời kiểm tra lại thông tin:\n' + errorMessage);
        //   } else {
        //     var today = new Date();
        //     $scope.editStudentData.dob = $filter('date')($scope.editStudentData.dob,
        //             'dd/MM/yyyy');
        //     var newStudent = {
        //       id: $scope.editStudentData.id,
        //       firstName: $scope.editStudentData.firstName,
        //       lastName: $scope.editStudentData.lastName,
        //       address: $scope.editStudentData.address,
        //       phone: $scope.editStudentData.phone,
        //       age: $scope.editStudentData.age,
        //       dob: $scope.editStudentData.dob,
        //       email: $scope.editStudentData.email,
        //       username: $scope.editStudentData.username,
        //       password: $scope.editStudentData.password,
        //       createdDate: today,
        //       isDelete: 0
        //     };
        //     $scope.editStudentData = {};
        //     saveDataToLocal(newStudent);
        //     $('#editModal').modal('hide');
        //   }
        // };

        // Hàm kiểm tra data
        function validateData(match) {
          var errorMessage = "";

          if (!match.name) {
            errorMessage += "- Vui lòng nhập tên!\n";
          } else if (!/^[a-zA-Z ]+$/.test(match.firstName)) {
            errorMessage += "- Tên không được chứa ký tự đặc biệt!\n";
          }

          if (!match.address) {
            errorMessage += "- Vui lòng nhập địa chỉ!\n";
          }

          if (!match.phoneNumber) {
            errorMessage += "- Vui lòng nhập số điện thoại!\n";
          }

          if (!ValidateEmail(match.email)) {
            errorMessage += "- Địa chỉ email không hợp lệ!\n";
          }

          return errorMessage;
        }



        // function saveDataToLocal(student) {
        //   localStorage.setItem("value", value);
        //   localStorage.setItem("data", JSON.stringify($scope.allStudent));
        //   $scope.totalPages = Math.ceil($scope.matches.length / $scope.pageSize);
        // }

        $scope.searchMatches = function () {
          $scope.filteredMatches = $scope.matches.filter(function (match) {
            return (
                    match.firstName.toLowerCase().includes($scope
                            .searchText
                            .toLowerCase()) ||
                    match.class.toLowerCase().includes($scope
                            .searchText
                            .toLowerCase())
            );
          });
        };

        $scope.deleteMatch = function () {
          var deleteData = {
            historyId : $scope.deleteMatchData.historyId
          }
          $http({
            method: 'POST',
            url: '/removeHistory',
            data: deleteData
          }).then(function (response) {
            if(response.data === false) {
              alert('Đã xóa thất bại');
            } else {
              alert('Đã xóa thành công');
              $scope.loadData();
              $('#confirmModal').modal('hide');
            }
          }, function (error) {
            console.error('Lỗi khi gọi API:', error);
          });
          $scope.loadData();
          $('#confirmModal').modal('hide');
        };

        $scope.checkEmailValidity = function () {
          if (ValidateEmail(!$scope.email)) {
            $window.alert("Invalid email!");
          }
        };

        function ValidateEmail(mail) {
          if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
            return true;
          }
          return false;
        }
        $scope.checkInput = function () {
          var errorMessage = validateData($scope.updateMatchData);

          if (errorMessage !== "") {
            $window.alert('Mời kiểm tra lại thông tin:\n' + errorMessage);
          } else {
            var updateData = {
              name: $scope.updateMatchData.name,
              address: $scope.updateMatchData.address,
              phoneNumber: $scope.updateMatchData.phoneNumber,
              email: $scope.updateMatchData.email,
              userId : $scope.userId
            };
            $http({
              method: 'POST',
              url: '/update',
              data: updateData
            }).then(function (response) {
              if(response.data === false) {
                alert('Cập nhật thất bại');
              } else {
                alert('Đã cập nhật thành công');
                $('#updateAcc').modal('hide');
              }
            }, function (error) {
              console.error('Lỗi khi gọi API:', error);
            });
          }
        };
        $scope.alertTB = function () {
          alert('Tính năng chưa phát triển!!!')
        }
      });
    </script>
  </div>
  <script>
  </script>
</div>
</body>
<style>
  .header {
    margin-top: 20px;
  }
</style>
</html>